{% extends 'home/base.html' %}
{% block content %}
<!-- <div class="jumbotron jumbotron-fluid text-center">
    <h1>Welcome to Online Food</h1>
    <p>Delicious food delivered to your doorstep.</p>
</div> -->

<div class="jumbotron jumbotron-fluid text-center mt-5 home-jumbotron">
    <h1>Welcome to Online Food</h1>
    <p>Delicious food delivered to your doorstep.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Popular Dishes</h3>
            <p>Check out our most popular dishes.</p>
        </div>
        <div class="col-sm-4">
            <h3>Easy Ordering</h3>
            <p>Order your favorite food with just a few clicks.</p>
        </div>
        <div class="col-sm-4">
            <h3>Fast Delivery</h3>
            <p>Get your food delivered hot and fresh.</p>
        </div>
    </div>
</div>
{%endblock%} 
